build==1.0.3
    # via pip-tools
click==8.1.7
    # via pip-tools
fire==0.5.0
    # via mkhelp
mkhelp==0.2
    # via -r requirements.txt
packaging==23.2
    # via build
pip-tools==7.3.0
    # via -r requirements.txt
pyproject-hooks==1.0.0
    # via build
six==1.16.0
    # via fire
termcolor==2.4.0
    # via fire
wheel==0.42.0
    # via pip-tools

# The following packages are considered to be unsafe in a requirements file:
pip==24.0
    # via
    #   -r requirements.txt
    #   pip-tools
setuptools==69.0.3
    # via pip-tools
